.hel {
    margin: 35px auto;
    padding: 15px;
    height: 50px;
    background-color: #DACEC4;
    width: 500px;
    border-radius: 6px;
    border: none;
    display: flex;
}
#one {
    border-radius: 6px;
    border: none;
    height: 40px;
    width: 393px;
}

#two {
    border-radius: 6px;
    border: none;
    width: 150px;
    height: 43px;
    margin: 0 3px;
    
}

#tasks {
    margin: 35px auto;
    padding: 15px;
    background-color: #DACEC4;
    width: 500px;
    height: auto;
    border-radius: 6px;
    border: none;
    
}


.task-item {
    border-radius: 6px;
    border: none;
    height: 37px;
    width: 393px;
    background-color: white;
    padding: 10px;
    margin: 35px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.task-item.done {
  text-decoration: line-through;
  color: gray;
}
.smt-item {
    border-radius: 6px;
    border: none;
    height: 31px;
    width: 53px;
    background-color: maroon;
    cursor: pointer;
    padding: 4px 10px ;

}
.grtng {
    justify-content: center;
    text-align: center;
    transition: 3000ms;
    font-weight: 100;
    color: #DACEC4;
}

/* 📱 موبايل */
@media (max-width: 600px) {
  .container {
    width: 90%;
  }
  #one {
    font-size: 14px;
  }
}

/* 📟 تابلت */
@media (min-width: 601px) and (max-width: 992px) {
  .container {
    width: 70%;
  }
}


